<div class="container">
    <div class="wrapper">
        <div class="top">
            <div class="head">
                <img class="logo" src="./assets/img/logo.png">
            </div>
            <div class="desc">Nan Tien Institute Only Application</div>
        </div>
        <section class="content">
            <router-outlet></router-outlet>
        </section>

        <global-footer [links]="links">
            Copyright <i class="anticon anticon-copyright"></i> 2018 <a href="www.nantien.edu.au" target="_blank">Nant Tien Institute</a>
        </global-footer>
    </div>
</div>